---
title: environment variables
layout: base.njk
---
<h1>Hello test</h1>
<p>test for environment</p>
<form action="" class="form">
<fieldset>
<legend>Form</legend>
<label for="count">get count</label>
<input type="text" id="count" name="count">
<button type="submit">get count</button>
</fieldset>
</form>